//องค์ประกอบอื่นๆเอามาจากหน้าอื่น//
#currentDateTime {
  color: black;
  background-color: white;
  border-radius: 20px;
}

.btn {
  border-radius: 10px;
}

a:hover {
  color: rgb(132,136,182);
  text-decoration: underline;
}

a {
  background-color: rgb(100,116,178);
}

.w-lg-50 {
  font-size: 90px;
  color: rgba(47,47,137,255);
}

.text-secondary {
  color: rgba(47,47,137,255);
}

.w-lg-50 {
  color: rgba(47,47,137,255);
}

.shadow {
  box-shadow: 0 .5rem 1rem rgba(100,116,178,0.5)!important;
}

.card {
  background-color: white;
  border-radius: 20px;
}

#plan-table {
  background: white;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid rgb(100,116,178,-0.7);
}

.table-head {
  background-color: rgba(46,48,137,255);
  color: white;
}

#btn-plan {
  color: black;
  background-color: rgba(251,229,109,255);
  border: none;
  margin-top: 50px;
}

a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

#username {
  color: white;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255,255,255,.75);
  background-color: rgb(100,116,178);
  border-radius: 10px;
}

#icon-search {
  color: white;
  cursor: pointer;
  width: 30px;
}

.dropdown-toggle {
  white-space: nowrap;
}

.dropdown-toggle::after {
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}

dropdown-menu {
  color: #fbe56d;
}

dropdown-menu {
  color: #000000;
}

dropdown-item {
  color: #fbe56d;
}

#card-body-setting {
  background: whitesmoke;
  color: black;
}

#card-body-setting-usersetting {
  /*margin-top: 0;*/
  background-color: rgba(47,47,137,255);
  color: white;
  height: 50px;
}

#card-table {
  background-color: white;
}

#content {
  justify-content: space-between;
  background-color: rgba(47,47,137,255);
  text-align: center;
}

.container {
  justify-content: space-around;
}

.row {
  justify-content: space-evenly;
}

img {
}

#img-iphone {
  height: 700px;
  width: fit-content;
  /*vertical-align: middle;*/
  border-style: none;
  /*text-align: center;*/
}

.scroll-to-top {
  color: rgba(241,102,117,255);
}

#btn-master {
  justify-content: flex-start;
  margin-top: 50px;
  margin-left: 0;
  margin-bottom: 10px;
  width: 7;
}

.btn-info.focus, .btn-info:focus {
  color: black;
  background-color: rgba(251,229,109,255);
  border-color: rgba(251,229,109,255);
  box-shadow: 0 0 0 .2rem rgba(251,229,109,255);
}

#btn-employee {
  margin-bottom: 5px;
  width: 10rem;
  height: 2.5rem;
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  color: #fff;
  background-color: rgba(241,102,117,255);
  border-color: rgba(241,102,117,255);
}

#btn-edit:hover {
  background-color: rgba(206,185,43,255);
  border-color: rgba(206,185,43,255);
}

.btn-warning:not(:disabled):not(.disabled).active:focus, .btn-warning:not(:disabled):not(.disabled):active:focus, .show > .btn-warning.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(251,229,109,255);
}

.btn-warning:not(:disabled):not(.disabled).active, .btn-warning:not(:disabled):not(.disabled):active, .show > .btn-warning.dropdown-toggle {
  color: #212529;
  background-color: rgba(251,229,109,255);
  border-color: rgba(251,229,109,255);
}

.btn-warning.focus, .btn-warning:focus {
  color: #212529;
  background-color: rgba(251,229,109,255);
  border-color: rgba(251,229,109,255);
  box-shadow: 0 0 0 .2rem rgba(222,170,12,.5);
}

.btn-warning {
  color: #212529;
  background-color: rgba(251,229,109,255);
  border-color: rgba(206,185,43,255);
}

.btn-warning {
  color: #212529;
  background-color: rgba(251,229,109,255);
  border-color: rgba(206,185,43,255);
}

.btn-warning:hover {
  color: #212529;
  background-color: rgba(251,229,109,0.8);
  border-color: rgba(206,185,43,255);
}

.btn-light {
  color: white;
  background-color: rgba(241,102,117,255);
  border-color: rgba(241,102,117,255);
}

#btn-save {
  color: white;
  background-color: #2f2f88;
}

.modal-header .close {
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem auto;
  color: white;
}

.close:hover {
  color: white;
  text-decoration: none;
}

.card-title {
  justify-content: center;
  /*margin-bottom: .75rem;*/
  color: rgba(47,47,137,255);
}

#card-setting {
  background-color: white;
  color: black;
}

#card-permission {
  margin: 10px;
  width: 480px;
  padding: 10px;
  /*margin-right: 10px;*/
}

#card-permission-shadow {
  width: 500px;
}

#canview {
  justify-content: stretch;
}

#card-body-setting {
}

#canview-col {
}

@media (min-width:768px) {
  .col-md-6 {
    -ms-flex: 0 0 1%;
    flex: 0 0 36.5%;
    max-width: 40%;
  }
}

option {
}

dropdown-item {
  background-color: rgb(100,116,178);
}

#dropdown-client {
}

.text-secondary {
  color: black!important;
}

.card-footer:last-child {
  border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
  border-top: 1px solid rgba(47,47,137,255);
}

.card-footer {
  padding: .75rem 1.25rem;
  background-color: rgba(0,0,0,.03);
  border-top: 1px solid rgba(0,0,0,.125);
}

.container {
}

#smart {
  font-size: 10rem;
  font-weight: 800;
  text-shadow: 2px 2px rgba(241,104,118,255);
}

#smart2 {
  font-size: 9rem;
  font-weight: 800;
  text-shadow: 2px 2px rgba(241,104,118,255);
}

